<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let character of characters" [routerLink]="['/character', character.id]"
        class="mat-elevation-z2 list-group-item list-group-item-action animate__animated animate__bounce animate__fadeIn property-card">
        <div class="character-tile">
            <div class="property-image" [style.background-image]="'url(' + character.image + ')'"></div>
            <div class="property-description">
                <h2 class="property-image-title">{{ character.name }}</h2>
                <!--<p>{{ character.status }} - {{ character.species }}</p>-->
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>