<div class="container">
    <h1>Characters</h1>
    <ul class="list-group">
        <a *ngFor="let character of characters" [routerLink]="['/character', character.id]"
            class="list-group-item list-group-item-action animate__animated animate__bounce animate__fadeIn">
            <b>{{ character.name }}: </b> {{ character.status }}-{{ character.species }}
        </a>
    </ul>
    <div>
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
</div>