<div class="container">
    <h1>Characters</h1>

    <div>
        <div class="mb-5">
            <button class="btn btn-secondary m-2" (click)="setView('cards')">
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button class="btn btn-secondary m-2" (click)="setView('grid')">
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>

        <app-spinner [isLoading]="isLoading"></app-spinner>

        <div *ngIf="!isLoading && viewMode === 'cards'" [@fadeIn]>
            <app-card *ngFor="let character of characters" [character]="character"></app-card>
        </div>

        <div *ngIf="!isLoading && viewMode === 'grid'" [@fadeIn]>
            <app-grid [characters]="characters"></app-grid>
        </div>

        <div class="mt-5">
            <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
        </div>
    </div>

</div>