.card-content {
    display: flex;
    align-items: center;
}

.character-image {
    width: 100px;
    /* ajusta el tamaño según tus necesidades */
    height: auto;
    margin-right: 16px;
    /* espacio entre la imagen y el encabezado */
}

.card-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}