<mat-card
    class="mat-elevation-z2 list-group-item list-group-item-action animate__animated animate__bounce animate__fadeIn"
    [routerLink]="['/character', character.id]">
    <div class="card-content">
        <img class="character-image" [src]="character.image" alt="{{ character.name }}">
        <div class="card-header">
            <mat-card-title>{{ character.name }}</mat-card-title>
            <mat-card-subtitle>{{ character.status }} - {{ character.species }}</mat-card-subtitle>
        </div>
    </div>
</mat-card>